# Ignore everything
/**

# Except the following files
!/.gitignore
!.gitconfig
!.tmux.conf
!.zshrc

!/.config/
!/.config/alacritty/
!/.config/nvim/
!/.config/fish/
!/.config/fish/functions/

!**/.config/nvim/**
!**/.config/alacritty/*.*ml
!**/.config/fish/config.fish
!**/.config/fish/functions/[^!(_|fish)]*.fish

